* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "MyFont";
    src: url("fonts/norse-bold-webfont.woff2") format("woff2"),
        url("fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body,
html {
    height: 100%;
}

body {
    display: flex;
}

.left {
    width: 35%;
    height: 100%;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    position: relative;
    /* just for credits positoned absolute*/
}

.logo {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: rgba(150, 150, 150, 0.6);
    margin-top: 30%;
}

.logo img {
    padding: 12px;
    height: 7em;
}

.logo h2 {
    font-family: "MyFont", sans-serif;
    font-weight: 800;
    font-size: 5em;
}

.credits {
    position: absolute;
    /* better than fixed, so it stays inside .left */
    bottom: 20px;
    width: 100%;
    /*needed to center text */
    text-align: center;
    font-size: 0.9rem;
    color: aliceblue;
    opacity: 0.9;
}

.credits a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(240, 248, 255, 0.392);
}

.right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    height: 35%;
    width: 100%;
    text-align: center;
    font-weight: 700;
    background-color: #f1ebeb;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 35px;
    text-align: left;
}

.text-block {
    max-width: 60ch;
    text-align: left;
    padding: 0 100px;
}

.form {
    height: 30%;
}

.bottom {
    height: 35%;
    background-color: #f1ebeb;
    width: 100%;
}

.bottom button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 20px 12px;
    border-radius: 6px;
    background-color: #596D48;
    color: #fff;
    cursor: pointer;
}

.bottom p {
    margin-left: 20px;
}

.bottom a {
    text-decoration: none;
    color: #596D48;
}