* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "MyFont";
    src: url("fonts/norse-bold-webfont.woff2") format("woff2"),
        url("fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body,
html {
    height: 100%;
}

body {
    display: flex;
}

.left {
    width: 35%;
    height: 100%;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    position: relative;
    /* just for credits positoned absolute*/
}

.logo {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: rgba(150, 150, 150, 0.6);
    margin-top: 30%;
}

.logo img {
    padding: 12px;
    height: 7em;
}

.logo h2 {
    font-family: "MyFont", sans-serif;
    font-weight: 800;
    font-size: 5em;
}

.credits {
    position: absolute;
    /* better than fixed, so it stays inside .left */
    bottom: 20px;
    width: 100%;
    /*needed to center text */
    text-align: center;
    font-size: 0.9rem;
    color: aliceblue;
    opacity: 0.9;
}

.credits a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(240, 248, 255, 0.392);
}

.right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    height: 35%;
    width: 100%;
    text-align: center;
    font-weight: 700;
    background-color: #f1ebeb;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-top: 40px;
    padding-left: 35px;
    text-align: left;
}

.text-block {
    max-width: 70ch;
    text-align: left;
    padding-right: 50px;
    padding-left: 40px;
}

.form {
    width: 100%;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bottom {
    height: 35%;
    background-color: #f1ebeb;
    width: 100%;
}

.bottom button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 20px 12px;
    border-radius: 6px;
    background-color: #596D48;
    color: #fff;
}

.bottom button:hover {
    cursor: pointer;
    background-color: #465836;
}

.bottom p {
    margin-left: 20px;
}

.bottom a {
    text-decoration: none;
    color: #596D48;
}

.bottom a:hover {
    cursor: pointer;
    color: #304d17;
}


.form h3 {
    margin: 10px 20px;
    font-size: 1.2rem;
    padding: 0 20px;

}

.form-row {
    display: flex;
    gap: 40px;
    margin: 0 20px 20px 20px;
}

.form-grp {
    flex: 1;
    /*so each inpu takes 50%*/
    display: flex;
    flex-direction: column;
    padding: 0 20px;

}

.form-grp input {
    padding: 6px;
    margin-top: 4px;
    width: 100%;
    max-width: 350px;
}


input[type="password"]:invalid {
    border: 2px solid red;
}

input[type="text"]:user-invalid {
    /*comes into play after user interacted*/
    border: 2px solid red;
}

input:focus {
    border: 2px solid #1E90FF;
    outline: none;
    box-shadow: 0 0 6px 2px rgba(30, 144, 255, 0.4);
}

/* Invalid inputs lose red border while focused */
input:focus:invalid {
    border-color: #1E90FF;
}